<p id="notice"><%= notice %></p>

<p>
  <b>Short path:</b>
  <%= @link.short_path %>
</p>

<p>
  <b>Original URL:</b>
  <%= @link.original_url %>
</p>

<h2>Fun Stuff</h2>

<p>This short path has been followed <%= pluralize(@link.visit_count, "time") %>.</p>
<p>Link shortened <%= time_ago_in_words(@link.created_at) %> ago at <%= @link.created_at.strftime('%l:%M%p on %B %e, %Y') %>.</p> <!-- Want to add  -->

<% if @link.same_original_url.count == 1 %>
  <p>This is the first time this URL has been shortened.</p>
<% else %>
  <p>This URL has been shortened <%= pluralize(@link.same_original_url.count - 1, "other time") %>.</p>
<% end %>
<br />

<!-- <%= link_to 'Edit', edit_link_path(@link) %> -->
<%= link_to 'Back to Index', links_path %>

